*.lcov
*.log
*.sw[nop]
*~
.nyc_output
.project
.settings
.vscode
capacitor.config.json
native-app-config.sh
TAGS
coverage
node_modules
android
www/**
resources/**
icons/
ios
!.gitkeep
!www/applicationError.html
